<a href="https://colab.research.google.com/github/malbatahan100/curso1/blob/main/Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 3

# LISTAS

In [ ]:
lista_de_enteros = [4, 6, 3, 8, 9, 10, "tres"]
print(lista_de_enteros[-1])

tres

append()

In [ ]:
lista = [1,2,3,4]
lista.append(5)
lista.append(6)
print(lista)

[1, 2, 3, 4, 5, 6]

insert()

In [ ]:
lista = [1,2,3,5,6,7]
lista.insert(3,4)
print(lista)

[1, 2, 3, 4, 5, 6, 7]

remove()

In [ ]:
dias_de_semana = ["Lunes", "Martes", "Miercoles", "Jueves"]
dias_de_semana.remove("Martes")
print(dias_de_semana)

['Lunes', 'Miercoles', 'Jueves']

pop()

In [ ]:
dias_de_semana = ["Lunes", "Martes", "Miercoles", "Jueves"]
dias_de_semana.pop()
print(dias_de_semana)

['Lunes', 'Martes', 'Miercoles']

str.split()

In [ ]:
numeros = "1 2 3 4 5 6"
lista_de_numeros = numeros.split()
print(lista_de_numeros)
print(len(lista_de_numeros))

['1', '2', '3', '4', '5', '6']
6

sorted()

In [ ]:
numeros = [1,6,3,2,7,8,4]
numeros_ordenados = sorted(numeros, reverse=False)

print(numeros)
print(numeros_ordenados)

[1, 6, 3, 2, 7, 8, 4]
[1, 2, 3, 4, 6, 7, 8]

1. Pide al usuario que ingrese tres frutas y agrégalas a una por una a una lista

In [ ]:
frutas = []
fruta = input("Ingrese la primera fruta: ")
frutas.append(fruta)
fruta = input("Ingrese la segunda fruta: ")
frutas.append(fruta)
fruta = input("Ingrese la tercera fruta: ")
frutas.append(fruta)

print(sorted(frutas))

Ingrese la primera fruta: manzana
Ingrese la segunda fruta: pera
Ingrese la tercera fruta: durazno
['durazno', 'manzana', 'pera']

2. Pide al usuario que ingrese una fruta y elimina esa fruta de la lista si existe.

In [ ]:
frutas = ['durazno', 'manzana', 'pera']

print("De la siguiente lista de frutas: ", frutas)
f = input("Ingresa el nombre de la fruta que desea eliminar: ")

if f in frutas:
  frutas.remove(f)

print("La nueva lista es: ", frutas)

De la siguiente lista de frutas:  ['durazno', 'manzana', 'pera']
Ingresa el nombre de la fruta que desea eliminar: naranja
La nueva lista es:  ['durazno', 'manzana', 'pera']

3. Pide al usuario que ingrese dos listas y concaténalas.

In [ ]:
lista1 = input("Ingresa una lista de números separados por coma: ")
lista2 = input("Ingresa otra lista de números separados por coma: ")

lista1 = lista1.split(",")
lista2 = lista2.split(",")

print(lista1 + lista2)

Ingresa una lista de números separados por coma: 1,2,3
Ingresa otra lista de números separados por coma: 7,8,9
['1', '2', '3', '7', '8', '9']

4. Pide al usuario que ingrese tres números y ordénalos de menor a mayor en una lista.

In [ ]:
num1 = int(input("Ingrese el primer número: "))
num2 = int(input("Ingrese el segundo número: "))
num3 = int(input("Ingrese el tercer número: "))
lista = [num1, num2, num3]
lista = sorted(lista)
print(lista)

Ingrese el primer número: 8
Ingrese el segundo número: 2
Ingrese el tercer número: 6
[2, 6, 8]

5. Utiliza un bucle FOR para imprimir cada elemento de una lista

In [ ]:
frutas = ['durazno', 'manzana', 'pera', 'naranja']

for fruta in frutas:
  print(fruta)

durazno
manzana
pera
naranja

6. Utiliza un bucle FOR para imprimir los números del 1 al 20

In [ ]:
for numero in range(20):
  print(numero + 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Tuplas

In [ ]:
tupla = (1,2,3)
print(tupla[0])

1

In [ ]:
datos = ("Alejandro", 30)

nombre, edad = datos

print("Mi nombre es",nombre,"y tengo",edad,"años")

Mi nombre es Alejandro y tengo 30 años

Concatenar tuplas

In [ ]:
tupla1 = (1,2,3)
tupla2 = (4,5,6)
print(tupla1 + tupla2)

(1, 2, 3, 4, 5, 6)

Crea una tupla con elementos repetidos. Cuenta cuántas veces aparece un elemento
específico.

In [ ]:
tupla = (1,2,3,2,4,5,2,7,2,8)
print(tupla.count(2))

4

# Conjuntos

In [ ]:
conjunto = {1,2,3,4,1,2}
print(conjunto)

{1, 2, 3, 4}

In [ ]:
lista = [1,2,3,4,1,2]
lista = list(set(lista))
print(lista)

[1, 2, 3, 4]

Unión e intersección

In [ ]:
conjunto1 = {2,4,6,8}
conjunto2 = {6,7,8,9}

union = conjunto1.union(conjunto2)
interseccion = conjunto1.intersection(conjunto2)

print(union)
print(interseccion)

{2, 4, 6, 7, 8, 9}
{8, 6}

# Diccionarios

In [ ]:
numeros = {1:"uno", 2:"dos", 3:"tres", 4:"cuatro"}

print(numeros[3])

tres

1. Solicita al usuario ingresar información de una persona (nombre, edad, ciudad). Agrega los
valores a un diccionario e imprime su información completa.

2. Pide al usuario que ingrese un número del 1 al 10. Imprime en formato de texto dicho
número

3. Pide al usuario que ingrese dos números y una operación (+, -, *, /). Utiliza un diccionario
para realizar la operación deseada y muestra el resultado.

4. Pide al usuario que ingrese un número del 1 al 10. Imprime en formato de texto todos los
números desde el cero hasta el número ingresado.